.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    font-weight: bold;
}

.Messages {
    padding: 10px;
}

.Message {
    
}